# Data Analysis workbook DAND Part III

This notebook introduces the analysis performed on a selected map fetched from OpenStreeMap via a python Script. 

The selected area has been described in the file area.txt.

The notebook is structured in two parts:

* The audit of the dataset
* Test and vizualization of data cleaning

Most of the code has been adapted from the different DAND (i.e. Data Auditing and Cleaning)

## Data wrangling

### Data Importation

In [14]:
# Import chunk library + Dataset

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import unicodecsv
import seaborn as sns

ways_nodes = pd.read_csv("~/PycharmProjects/DAND_OpenStreeMap/subset/ways_nodes.csv")
ways       = pd.read_csv("~/PycharmProjects/DAND_OpenStreeMap/subset/ways.csv")
ways_tags  = pd.read_csv("~/PycharmProjects/DAND_OpenStreeMap/subset/ways_tags.csv")
nodes      = pd.read_csv("~/PycharmProjects/DAND_OpenStreeMap/subset/nodes.csv")
nodes_tags = pd.read_csv("~/PycharmProjects/DAND_OpenStreeMap/subset/nodes_tags.csv")

#### Way Nodes :

In [8]:
print "columns names:",ways_nodes.columns
print "Number of observation:", len(ways_nodes)

Index([u'id', u'node_id', u'position'], dtype='object')
12242

In [9]:
ways_nodes.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>node_id</th>
      <th>position</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>4803849</td>
      <td>34691601</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4803849</td>
      <td>1801000290</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4803849</td>
      <td>1164867374</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4803849</td>
      <td>3397409847</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4803849</td>
      <td>1937688909</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>

### Nodes :

In [16]:
print "columns names:",ways.columns
print "Number of observation:", len(ways)

ways.head()

Index([u'id', u'user', u'uid', u'version', u'changeset', u'timestamp'], dtype='object')
1410

#### Way Nodes :

In [19]:
print "columns names:", ways_tags.columns
print "Number of observation:", len(ways_tags)

ways_tags.head()

Index([u'id', u'key', u'value', u'type'], dtype='object')
5745

In [25]:
### Way Nodes :

print "columns names:", nodes.columns
print "Number of observation:", len(nodes)

nodes.head()

columns names: Index([u'id', u'lat', u'lon', u'user', u'uid', u'version', u'changeset',
       u'timestamp'],
      dtype='object')
Number of observation: 7769

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>lat</th>
      <th>lon</th>
      <th>user</th>
      <th>uid</th>
      <th>version</th>
      <th>changeset</th>
      <th>timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>19388646</td>
      <td>47.545806</td>
      <td>7.586781</td>
      <td>Nzara</td>
      <td>481380</td>
      <td>7</td>
      <td>13437936</td>
      <td>2012-10-10T08:49:13Z</td>
    </tr>
    <tr>
      <th>1</th>
      <td>19388648</td>
      <td>47.544706</td>
      <td>7.585863</td>
      <td>mjessen_mdv</td>
      <td>1227175</td>
      <td>14</td>
      <td>35193074</td>
      <td>2015-11-09T14:14:19Z</td>
    </tr>
    <tr>
      <th>2</th>
      <td>30828152</td>
      <td>47.542891</td>
      <td>7.594250</td>
      <td>MENTZ_TU</td>
      <td>2385132</td>
      <td>27</td>
      <td>34952835</td>
      <td>2015-10-29T16:18:00Z</td>
    </tr>
    <tr>
      <th>3</th>
      <td>34691600</td>
      <td>47.549277</td>
      <td>7.589421</td>
      <td>Mammi71</td>
      <td>668573</td>
      <td>5</td>
      <td>38486898</td>
      <td>2016-04-11T22:14:14Z</td>
    </tr>
    <tr>
      <th>4</th>
      <td>34691601</td>
      <td>47.548528</td>
      <td>7.591281</td>
      <td>Sebra1177</td>
      <td>2557264</td>
      <td>8</td>
      <td>28075319</td>
      <td>2015-01-11T22:45:04Z</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
"""
Auditing of the file 

"""
import xml.etree.cElementTree as ET
from collections import defaultdict
import re
import pprint

OSMFILE = "example.osm"
street_type_re = re.compile(r'\b\S+\.?$', re.IGNORECASE)


expected = ["Street", "Avenue", "Boulevard", "Drive", "Court", "Place", "Square", "Lane", "Road", 
            "Trail", "Parkway", "Commons"]

# UPDATE THIS VARIABLE
mapping = { "St": "Street",
            "St.": "Street",
            "Ave": "Avenue",
            "Rd.": "Road"}


def audit_street_type(street_types, street_name):
    m = street_type_re.search(street_name)
    if m:
        street_type = m.group()
        if street_type not in expected:
            street_types[street_type].add(street_name)


def is_street_name(elem):
    return (elem.attrib['k'] == "addr:street")


def audit(osmfile):
    osm_file = open(osmfile, "r")
    street_types = defaultdict(set)
    for event, elem in ET.iterparse(osm_file, events=("start",)):

        if elem.tag == "node" or elem.tag == "way":
            for tag in elem.iter("tag"):
                if is_street_name(tag):
                    audit_street_type(street_types, tag.attrib['v'])
    osm_file.close()
    return street_types


def update_name(name, mapping):
    # YOUR CODE HERE
    # https://stackoverflow.com/questions/29987116/python-how-to-replace-the-last-word-of-a-line-from-a-text-file
    name_temp = (name.split())
    for i in name_temp:
        if i in mapping:
            lastword = name.split()[-1]
            name = name.replace(lastword, mapping[i]) 
    return name
    



def test():
    st_types = audit(OSMFILE)
    assert len(st_types) == 3
    pprint.pprint(dict(st_types))

    for st_type, ways in st_types.iteritems():
        for name in ways:
            better_name = update_name(name, mapping)
            print name, "=>", better_name
            if name == "West Lexington St.":
                assert better_name == "West Lexington Street"
            if name == "Baldwin Rd.":
                assert better_name == "Baldwin Road"


if __name__ == '__main__':
    test()